/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: 'El Messiri', sans-serif;}
input,button,textarea{font-family:inherit;-webkit-appearance: none;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:any-link{color: #fff;}
ul li{list-style:none;}
li{list-style-type: none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/* -------- */ 

.app{
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .time-select{
    background: lightblue;;
} */
.time-select,
.sound-picker,
.player-container{
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.player-container{
    position: relative;
}
.wrap_img{
    cursor: pointer;
}

.player-container svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    pointer-events: none;
}
.time-display{
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 50px;
}


video{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
}
.replay{
    width: 100px;
}

.time-select button,
.sound-picker button{
    color: white;
    padding: 10px 15px;
    height: 10%;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
}
.sound-picker img{
    width: 60px;
}
.time-select button:hover{
    color: black;
    background-color: white;
    transition: .5s;
}

.sound-picker button{
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
button[class*='btn_hightlight']{
    color: black;
    background-color: white;
    transition: .5s;
}

.sound-picker button:nth-child(1){
    background: #4972a1;
}
.sound-picker button:nth-child(2){
    background: #a14f49;
}

@media (min-width: 1920px){
    video{
        height: 100vh;
    }
    .sound-picker button{
        height: 200px;
        width: 200px;
    }
    .sound-picker img{
        width: 100px;
    }
    .time-select button{
        height: 20%;
        width: 300px;
        font-size: 40px;
    }
}
@media (max-width: 990px){
    .time-select button, 
    .sound-picker button{
        font-size: 17px;
    }

    .player-container{
        margin: 0 100px;
    }
    
}

@media (max-width: 680px){
    .app{
        flex-direction: column;
    }
    .time-select,.sound-picker{
        flex-direction: row; 
    }
    .player-container{
        height: 60%;
    }
    .sound-picker button{
        margin-right: 45px;
    }
    .wrap_img img{
        width: 40px;
    }
    .time-display{
        position: absolute;
        bottom: -30px;
    }
    .time-select button{
        height: 30%;
        margin-right: 15px;
    }
    .time-select button:last-child,
    .sound-picker button:last-child{
        margin-right: 0;
    }
}
@media (max-width: 420px){
    .time-select{
        padding: 0 5px;
    }
    .wrap_img img{
        width: 40px;
    }
    .sound-picker{
        align-items: flex-end;
        padding-bottom: 50px;
    }
    .sound-picker button{
        height: 100px;
        width: 100px;
    }
}